<div><strong><%= gravatar_image_tag(comment.user.email, gravatar: {size: 20}) %> <%= comment.user.email %> commented:</strong></div>

<%= simple_format comment.body %>

<%= image_tag ShareMeowClient.image_url(template: 'Comment', options: { content: comment.body, name: comment.user.email, gravatar_url: gravatar_image_url(comment.user.email, filetype: :png), subject_name: "Comment", min_height: 400 }) %>
<hr />
